DIRECTORY=ONYX_DP_DIR
DUMPFILE=Onyx v620261_20260831.dmp
LOGFILE=onyx_import_test.log
SCHEMAS=SOURCE_SCHEMA
REMAP_SCHEMA=SOURCE_SCHEMA:ONYX_READ
REMAP_TABLESPACE=OLD_DATA:ONYX_DATA
REMAP_TABLESPACE=OLD_INDEX:ONYX_INDEX
EXCLUDE=USER
EXCLUDE=ROLE
EXCLUDE=GRANT
TRANSFORM=OID:N

# Replace SOURCE_SCHEMA and tablespace names after impdp SQLFILE preview.
# Do not put a password in this file.
